body {
background: url(images/library.jpg);
background-size: cover;
color:#ffffff;
}


.App-header {
  margin: 30px 0;
  font-size: 60px;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive;
  text-shadow:  0px 10px 10px rgba(167, 167, 167, 0.8);
 
}
.App-footer {
text-align: center;
margin: 30px 0;
}
.App-footer a {
  color:#0A58CA;
  text-decoration: none;
}
.App-footer a:hover {
  text-decoration: underline;
}

